@model IEnumerable<Proje1.UI.Models.Dtos.Offers.OfferDto>

@{
    ViewData["Title"] = "ListOkOffer";
}

<h1>ListOkOffer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestformId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.offerStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestformId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.offerStatus)
            </td>
            <td>
                @Html.ActionLink("Fatura ekle","Create", "Invoice", new {  id=item.Id }, new{@class="btn btn-success"}) |
               
            </td>
        </tr>
}
    </tbody>
</table>
