@model IEnumerable<Proje1.UI.Models.Dtos.Report.ReportDto>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
      >
            <td>
                @Html.DisplayFor(modelItem => item.detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
        </tr>
}
    </tbody>
</table>
